<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springbook.rice.mapper.FoodMapper">
  <resultMap id="BaseResultMap" type="com.springbook.rice.common.domain.Food">
    <id column="food_name" jdbcType="VARCHAR" property="foodName" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="describ" jdbcType="VARCHAR" property="describ" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="delivery_fee" jdbcType="DECIMAL" property="deliveryFee" />
    <result column="pack_fee" jdbcType="DECIMAL" property="packFee" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    food_name, category, price, describ, icon, delivery_fee, pack_fee
  </sql>
  <select id="selectByExample" parameterType="com.springbook.rice.common.domain.FoodExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from food
    where food_name = #{foodName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from food
    where food_name = #{foodName,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.springbook.rice.common.domain.FoodExample">
    delete from food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.springbook.rice.common.domain.Food">
    insert into food (food_name, category, price, 
      describ, icon, delivery_fee, 
      pack_fee)
    values (#{foodName,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{describ,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{deliveryFee,jdbcType=DECIMAL}, 
      #{packFee,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.springbook.rice.common.domain.Food">
    insert into food
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="foodName != null">
        food_name,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="describ != null">
        describ,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="deliveryFee != null">
        delivery_fee,
      </if>
      <if test="packFee != null">
        pack_fee,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="foodName != null">
        #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="describ != null">
        #{describ,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="deliveryFee != null">
        #{deliveryFee,jdbcType=DECIMAL},
      </if>
      <if test="packFee != null">
        #{packFee,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.springbook.rice.common.domain.FoodExample" resultType="java.lang.Long">
    select count(*) from food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update food
    <set>
      <if test="record.foodName != null">
        food_name = #{record.foodName,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null">
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.describ != null">
        describ = #{record.describ,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null">
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryFee != null">
        delivery_fee = #{record.deliveryFee,jdbcType=DECIMAL},
      </if>
      <if test="record.packFee != null">
        pack_fee = #{record.packFee,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update food
    set food_name = #{record.foodName,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      describ = #{record.describ,jdbcType=VARCHAR},
      icon = #{record.icon,jdbcType=VARCHAR},
      delivery_fee = #{record.deliveryFee,jdbcType=DECIMAL},
      pack_fee = #{record.packFee,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.springbook.rice.common.domain.Food">
    update food
    <set>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="describ != null">
        describ = #{describ,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="deliveryFee != null">
        delivery_fee = #{deliveryFee,jdbcType=DECIMAL},
      </if>
      <if test="packFee != null">
        pack_fee = #{packFee,jdbcType=DECIMAL},
      </if>
    </set>
    where food_name = #{foodName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springbook.rice.common.domain.Food">
    update food
    set category = #{category,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      describ = #{describ,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      delivery_fee = #{deliveryFee,jdbcType=DECIMAL},
      pack_fee = #{packFee,jdbcType=DECIMAL}
    where food_name = #{foodName,jdbcType=VARCHAR}
  </update>
</mapper>