<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springbook.rice.mapper.PrinterNewMapper">
  <resultMap id="BaseResultMap" type="com.springbook.rice.common.domain.PrinterNew">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="deviceidID" jdbcType="VARCHAR" property="deviceidid" />
    <result column="devicesecret" jdbcType="VARCHAR" property="devicesecret" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, deviceidID, devicesecret
  </sql>
  <select id="selectByExample" parameterType="com.springbook.rice.common.domain.PrinterNewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from printernew
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from printernew
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from printernew
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.springbook.rice.common.domain.PrinterNewExample">
    delete from printernew
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.springbook.rice.common.domain.PrinterNew">
    insert into printernew (id, deviceidID, devicesecret
      )
    values (#{id,jdbcType=INTEGER}, #{deviceidid,jdbcType=VARCHAR}, #{devicesecret,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.springbook.rice.common.domain.PrinterNew">
    insert into printernew
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceidid != null">
        deviceidID,
      </if>
      <if test="devicesecret != null">
        devicesecret,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceidid != null">
        #{deviceidid,jdbcType=VARCHAR},
      </if>
      <if test="devicesecret != null">
        #{devicesecret,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.springbook.rice.common.domain.PrinterNewExample" resultType="java.lang.Long">
    select count(*) from printernew
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update printernew
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.deviceidid != null">
        deviceidID = #{record.deviceidid,jdbcType=VARCHAR},
      </if>
      <if test="record.devicesecret != null">
        devicesecret = #{record.devicesecret,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update printernew
    set id = #{record.id,jdbcType=INTEGER},
      deviceidID = #{record.deviceidid,jdbcType=VARCHAR},
      devicesecret = #{record.devicesecret,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.springbook.rice.common.domain.PrinterNew">
    update printernew
    <set>
      <if test="deviceidid != null">
        deviceidID = #{deviceidid,jdbcType=VARCHAR},
      </if>
      <if test="devicesecret != null">
        devicesecret = #{devicesecret,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springbook.rice.common.domain.PrinterNew">
    update printernew
    set deviceidID = #{deviceidid,jdbcType=VARCHAR},
      devicesecret = #{devicesecret,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>