<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>菜品添加</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
        <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>
    
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" id="from" action="/foodAdd" name="from">
                    <div class="layui-form-item">
                        <label for="foodName" class="layui-form-label">
                            <span class="x-red">*</span>菜品名</label>
                        <div class="layui-input-inline">
                            <input type="text" id="foodName" name="" required="" lay-verify="nikename" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span></div></div>
                    <div class="layui-form-item" style="width: 150px;padding-left: 110px">
                        <select name="contrller" id="selector">
                            <option value="菜品类别">请选择菜品类别</option>
                            <option th:each="categoryFood:${categoryFoods}" th:text="${categoryFood.getCategory()}" th:value="${categoryFood.getCategory()}" th:selected="${categoryFood.getSelected()}">支付宝</option>
                        </select>
                    </div>
                    <div class="layui-form-item">
                        <label for="category" class="layui-form-label">
                            <span class="x-red">*</span>类别</label>
                        <div class="layui-input-inline">
                            <input readonly type="text" id="CATEGORYY" name="category" required="" lay-verify="nikename" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span></div></div>
                    <div class="layui-form-item">
                        <label for="price" class="layui-form-label">
                            <span class="x-red">*</span>描述</label>
                        <div class="layui-input-inline">
                            <input type="text" id="describ" name="describ" required="" lay-verify="" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>说说这道菜的特点</div></div>
                    <div class="layui-form-item">
                        <label for="describ" class="layui-form-label">
                            <span class="x-red">*</span>价格</label>
                        <div class="layui-input-inline">
                            <input type="text" id="price" name="price" required="" lay-verify="num" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span></div></div>
                    <div class="layui-form-item">
                        <label for="describ" class="layui-form-label">
                            <span class="x-red">*</span>包装费</label>
                        <div class="layui-input-inline">
                            <input type="text" th:value="${packFEE}" id="packFee" name="packFee" required="" lay-verify="num" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span></div></div>
                    <div class="layui-form-item">
                        <label for="icon" class="layui-form-label">
                            <span class="x-red">*</span>图片</label>
                        <div class="layui-input-inline">
                            <span class="layui-btn layui-btn-normal layui-btn-mini" title="编辑" href="javascript:;" onclick="banner_edit('编辑','/foodIcon-add','4','','450')"
                                  style="text-decoration:none">
                                选择一个图片
                            </span>
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span></div></div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                        </label>
                        <button  class="layui-btn" lay-filter="add" lay-submit="">
                            增加
                        </button>
                    </div>

                </form>
            </div>
        </div>
        <script src="./banner/js/x-layui.js" charset="utf-8"></script>
        <script>
            layui.use(['form'], function(){
                // 监听下拉选择
                var  form = layui.form;
                form.on('select()', function(data){
                    document.getElementById("CATEGORYY").value=data.value;
                });});

            layui.use(['laydate','element','laypage','layer'], function(){
                $ = layui.jquery;//jquery
                laydate = layui.laydate;//日期插件
                lement = layui.element();//面包导航
                laypage = layui.laypage;//分页
                layer = layui.layer;//弹出层

                //以上模块根据需要引入

                layer.ready(function(){ //为了layer.ext.js加载完毕再执行
                    layer.photos({
                        photos: '#x-img'
                        //,shift: 5 //0-6的选择，指定弹出图片动画类型，默认随机
                    });
                });

            });

            //批量删除提交
            function delAll () {

                layer.confirm('确认要删除吗？',function(){
                    //捉到所有被选中的，发异步进行删除
                    layer.msg('删除成功', {icon: 1});
                });
            }
            /*添加*/
            function banner_add(title,url,w,h){

                x_admin_show(title,url,w,h);
            }

            // 编辑
            function banner_edit (title,url,id,w,h) {
                x_admin_show(title,url,w,h);
            }
            /*删除*/
            function banner_del(obj,id){
                layer.confirm('确认要删除吗？',function(index){
                    //发异步删除数据
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                });
            }
        </script>
        <script>
            var hiddenProperty = 'hidden' in document ? 'hidden' :

                'webkitHidden' in document ? 'webkitHidden' :

                    'mozHidden' in document ? 'mozHidden' :

                        null;

            var visibilityChangeEvent = hiddenProperty.replace(/hidden/i, 'visibilitychange');

            var onVisibilityChange = function(){

                if (!document[hiddenProperty]) {

                    console.log('我出现了');

                }else{
                    parent.location.reload() ;
                    console.log('我隐藏了');

                }

            }

            document.addEventListener(visibilityChangeEvent, onVisibilityChange);
            layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //自定义验证规则
                form.verify({
                    nikename: function(value) {
                        if (value.length == 0) {
                            return '请将菜品信息填充完整！';
                        }
                    },
                    num: function(value) {
                        if (value.length == 0) {
                            return '请将菜品信息填充完整！';
                        }
                        else if(isNaN(value)){
                            return '只能是数字哦！'
                        }
                    }
                });



                //监听提交
                form.on('submit(add)',
                function(data) {
                    console.log(data);
                    //发异步，把数据提交给php
                    $.post("/foodVerify?foodName="+from.foodName.value,data.field,function (data) {
                        if (data.success)
                            layer.alert("增加成功！", {
                                    icon: 6
                                },
                                function() {
                                    document.getElementById("from").submit()
                                    // 获得frame索引
                                    // window.location.reload();
                                    var index = parent.layer.getFrameIndex(window.name);
                                    //关闭当前frame
                                    parent.layer.close(index);
                                });

                        else
                            layer.msg(data.msg,{
                                icon: 7
                            }, function () {
                            });
                    });
                    // layer.alert("增加成功", {
                    //     icon: 6
                    // },
                    //
                    // function() {
                    //     document.getElementById("from").submit()
                    //     // 获得frame索引
                    //     var index = parent.layer.getFrameIndex(window.name);
                    //     //关闭当前frame
                    //     parent.layer.close(index);
                    // });
                    return false;
                });

            });</script>
        <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>

</html>