<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .text1{
            padding-right: 20px;
            font-size: 20px;
            font-weight: bold;
            color: #c12e2a;
        }
    </style>

</head>

<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">订单管理</a>
                 <a href="" th:text="${orderFood.getOrderState()}">订单列表</a>
                <a>
                    <cite>订单详情</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">

                    </form>
                    <hr>
                    <blockquote class="layui-elem-quote" style="display: flex;justify-content: space-between;align-items: center"><div>
                        订单编号：<text class="text1" th:text="${orderFood.getOrderId()}"></text>
                        共计：<text class="text1" th:text="${orderFood.getTotalPrice()}"></text>
                        包装费：<text class="text1" th:text="${orderFood.getPackFee()}"></text>
                        配送费：<text class="text1" th:text="${orderFood.getDeliveryFee()}"></text>
                        实付：<text class="text1" th:text="${orderFood.getActualPay()}"></text>
                        <div> 备   注：<text class="text1" th:text="${orderFood.getRemarks()}"></text></div>
                    </div>
                                 <div>
                                     <button th:if="${orderFood.getOrderState().equals('待配送')}" class="layui-btn layui-btn layui-btn-xs"  th:onclick="completeOrder(this,[[${orderFood.getOrderId()}]])" >完成订单</button>
                                 </div>

                    </blockquote>
                </div>

                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>菜品名</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>总额</th>

                        </thead>
                        <tbody class="x-cate">
                        <tr cate-id='1' fid='0' th:each="orderDetail:${orderDetails}">
                            <td th:text="${orderDetail.getFoodName()}">1</td>
                            <td th:text="${orderDetail.getPrice()/orderDetail.getNum()}"></td>
                            <td th:text="${orderDetail.getNum()}"></td>
                            <td th:text="${orderDetail.getPrice()*orderDetail.getNum()}"></td>

                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var hiddenProperty = 'hidden' in document ? 'hidden' :

        'webkitHidden' in document ? 'webkitHidden' :

            'mozHidden' in document ? 'mozHidden' :

                null;

    var visibilityChangeEvent = hiddenProperty.replace(/hidden/i, 'visibilitychange');

    var onVisibilityChange = function(){

        if (!document[hiddenProperty]) {

            console.log('我出现了');

        }else{
            parent.location.reload() ;
            console.log('我隐藏了');

        }

    }

    document.addEventListener(visibilityChangeEvent, onVisibilityChange);

    layui.use(['form'], function(){
        var form = layui.form;


    });

    /*订单完成*/
    function completeOrder(obj, id) {
        $.ajax({
            url:"/completeOrder?orderId="+id,
            success:function (data) {
                console.log(data);
                // layer.msg("完成订单",{icon:1,time:1000});
                // setTimeout(function () {
                //     window.location.reload();
                // }, 1000)
                layer.confirm("确认完成订单？",function () {
                    window.location.reload();
                    var index = parent.layer.getFrameIndex(window.name);
                    //关闭当前frame
                    parent.layer.close(index);
                })
            }
        })
    }

    // 分类展开收起的分类的逻辑
    //
    $(function(){
        $("tbody.x-cate tr[fid!='0']").hide();
        // 栏目多级显示效果
        $('.x-show').click(function () {
            if($(this).attr('status')=='true'){
                $(this).html('&#xe625;');
                $(this).attr('status','false');
                cateId = $(this).parents('tr').attr('cate-id');
                $("tbody tr[fid="+cateId+"]").show();
            }else{
                cateIds = [];
                $(this).html('&#xe623;');
                $(this).attr('status','true');
                cateId = $(this).parents('tr').attr('cate-id');
                getCateId(cateId);
                for (var i in cateIds) {
                    $("tbody tr[cate-id="+cateIds[i]+"]").hide().find('.x-show').html('&#xe623;').attr('status','true');
                }
            }
        })
    })

    var cateIds = [];
    function getCateId(cateId) {
        $("tbody tr[fid="+cateId+"]").each(function(index, el) {
            id = $(el).attr('cate-id');
            cateIds.push(id);
            getCateId(id);
        });
    }

    // window.onunload=function(){
    //     console.log("关闭")
    //     //刷新父页面
    //     window.opener.location.reload();//刷新父窗口
    //     window.opener.reload();
    // }
    //  window.attachEvent('onunload',function(){console.log("关闭")});
</script>
</body>
</html>
